.name {
    font:Times;
    font-size:large;
    color:Black;
}
.stage-direction {
    font:Times;
    font-size:small;
    color:Black;
    background-color:LightBlue;
}
.stage-direction:hover {
    background-color:Blue;
    color:White;
}
.speech {
    font:Times;
    font-size:medium;
    color:Black;
}
.marchmont {
    color:Red;
}
.basildon {
    color:Pink;    
}
table, th, td {
    border: 2px dashed saddlebrown;
    padding: 2em;
    margin: 1px;
}
